html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
}

.slider {
  /* margin: 2rem; */
  margin: 0 auto;
  max-width: 57rem;
}

.slider__slides {
  max-width: 57rem;

  overflow: hidden;
  aspect-ratio: 1 / 0.859;

  display: flex;
  flex-direction: column;
}

.slider__slide {
  transition: all 1s;
}

.slider__slide-1 {
  order: 2;
  opacity: 0;
}

.slider__slide-2 {
  order: 2;
  opacity: 0;
}

.slider__slide-3 {
  order: 2;
  opacity: 0;
}

.slider__slide-4 {
  order: 2;
  opacity: 0;
}

.slider__picture {
  width: 100%;
}

.slider__radio {
  display: none;
}

#slide-1:checked ~ .slider__bottom .slider__dots .label-1 {
  background-color: salmon;
}

#slide-1:checked ~ .slider__slides .slider__slide-1 {
  order: 1;
  opacity: 1;
}

#slide-1:checked ~ .slider__bottom .slider__text .slider__text-1 {
  order: 1;
  opacity: 1;
}

#slide-2:checked ~ .slider__bottom .slider__dots .label-2 {
  background-color: salmon;
}

#slide-2:checked ~ .slider__slides .slider__slide-2 {
  order: 1;
  opacity: 1;
}

#slide-2:checked ~ .slider__bottom .slider__text .slider__text-2 {
  order: 1;
  opacity: 1;
}

#slide-3:checked ~ .slider__bottom .slider__dots .label-3 {
  background-color: salmon;
}

#slide-3:checked ~ .slider__slides .slider__slide-3 {
  order: 1;
  opacity: 1;
}

#slide-3:checked ~ .slider__bottom .slider__text .slider__text-3 {
  order: 1;
  opacity: 1;
}

#slide-4:checked ~ .slider__bottom .slider__dots .label-4 {
  background-color: salmon;
}

#slide-4:checked ~ .slider__slides .slider__slide-4 {
  order: 1;
  opacity: 1;
}

#slide-4:checked ~ .slider__bottom .slider__text .slider__text-4 {
  order: 1;
  opacity: 1;
}

.slider__label {
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  background-color: dimgray;
  display: inline-block;
  padding: 0.3rem;
  border: 0.5rem solid white;
  margin: 0.1rem;
}

.slider__label:hover {
  background-color: salmon;

  cursor: pointer;
}

.slider__label:active {
  background-color: greenyellow;
}

.slider__bottom {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}

.slider__text {
  overflow: hidden;
  height: 10rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  /* transition: all 0.4s; */
}

.text {
  min-height: 10rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1s;
}

.slider__text-1 {
  order: 2;
  opacity: 0;
}
.slider__text-2 {
  order: 2;
  opacity: 0;
}
.slider__text-3 {
  order: 2;
  opacity: 0;
}
.slider__text-4 {
  order: 2;
  opacity: 0;
}

@media screen and (max-width: 450px) {
  .slider__bottom {
    flex-direction: column;
  }

  .slider__text {
    width: 100%;
  }

  .slider__bottom {
    height: 16rem;
  }
}
